<br>
<br>
<br>
<br>

<!-- Footer (Simple website footer design | HTML and CSS)-->
<footer>
  <div class="art">
    <div class="content">
      <section>
        <header>Victor Barbé</header>
        <a href="/inici">Inici</a>
        <a href="/galeria">Galeria</a>
        <a href="/contacte">Contacte</a>
        <a href="/login">Login</a>
      </section>
      <section>
        <header>Serveis</header>
        <a href="#">Opcio #</a>
        <a href="#">Opcio #</a>
        <a href="#">Opcio #</a>
      </section>
      <section>
        <header>Novetats</header>
        <form action="">
          <input type="email" name="" id="" placeholder="Email *">
          <input type="submit" value="Subscriurem">
        </form>
        <div class="social">
          <i class="fab fa-youtube"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-telegram-plane"></i>
        </div>
      </section>
    </div>
    <div class="notice">
      <p>Copyright Protected &copy;<strong>  Victor Barbé</strong></p>
    </div>
  </div>
</footer>
