<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/img_header_prin.png" alt="">
    </div>
    <div class="contentBx">
      <h2>Design</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quos quibusdam saepe itaque distinctio pariatur maxime officia blanditiis at aliquam.
      </p>
      <a href="#">Llegeix mes</a>
    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="../../assets/img_header_prin.png" alt="">
    </div>
    <div class="contentBx">
      <h2>Design</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quos quibusdam saepe itaque distinctio pariatur maxime officia blanditiis at aliquam.
      </p>
      <a href="#">Llegeix mes</a>
    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="../../assets/img_header_prin.png" alt="">
    </div>
    <div class="contentBx">
      <h2>Design</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quos quibusdam saepe itaque distinctio pariatur maxime officia blanditiis at aliquam.
      </p>
      <a href="#">Llegeix mes</a>
    </div>
  </div>
</div>


