<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="#" alt="Treballador">
        <h3>Nom Treballador</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Illum voluptate ex pariatur porro neque consectetur
          sed nostrum fuga maiores, rerum adipisci hic nisi ab.
        </p>
        <a href="#">Mes Informació</a>
      </div>
    </div>
  </div>
</div>
