@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

nav{
  position: absolute;
}

.navbar-nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #fff;
}

.navbar-nav>li>a {
  color: #fff;
}

.nav-link{
  padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover  {
  color: #000 !important;
  font-weight: 800;
  transition: all 0.5s;
}

.w-100{
  height: 100vh;
}


@media (max-width: 990px) {
 nav{

  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */height: auto;

  position: relative;
 }

.navbar-toggler {
  background: rgb(255, 255, 255);
}

ul {
  padding: 20px;
  background-color: #ff5e35;
}

li {
  padding: 0px;
}

li>a {
  width: 100%;
}

.nav-item {
  margin: 0 10px 0 10px;
}
}
